{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/methodical_material.css' %}">
{% endblock %}

{% block content %}

<header class="header visibility_header">
    <img class="header_canvas" src="{% static 'img/header/header_equipment.svg' %}" alt="">
</header>
<main class="main uk-flex">
    <section class="materials" id="materials">
        <div class="article_conteiner article_content statusMatirial">
            <input type="search" id="search" class="uk-search-input" type="search" placeholder="слова для пошуку">
            <div>
                <button class="article_tag" onclick="searchMaterial();resetFilter()">знайти</button>
            </div>
        </div>
        <div id="method"></div>
        <ul class="uk-pagination uk-flex-center" uk-margin id="pagination"></ul>
    </section>
    <section class="navtegs visibility">
        <div class="navtegs_conteiner">
            <h3 class="navtegs_headline uk-text-center">Рубрики</h3>
            <form action="" id="form" class="filter_form"></form>
        </div>
    </section>
</main>
    <style>
        .like-comment{
            padding-left: 10px;
        }
        .favorite{
            color: yellowgreen;
        }
        .liked{
            color: red;
        }
    </style>
    <script>
        
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        const print = (obj) => {
            console.log(obj)
        }


        ////////////
        // update_db
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
        
        function update_db(url) {
            return function(data) {
                let req = axios({
                method: 'put',
                url: url,
                xsrfCookieName: 'csrftoken',
                xsrfHeaderName: 'X-CSRFToken',
                data: data,
                headers: {
                    'X-CSRFToken': 'csrftoken'
                }
            }).then((response) => {
                const error = response.data['error']
                if (error === 'is_anonymous') {
                    window.location.href = '/accounts/login/'
                }
            });
            return;
            }
        }

        add_favorite = update_db('/api/v1/user/')
        // add_favorite({'favorite_id': 1377})

        function click_favorite(id_material) {
            add_favorite({'favorite_id': id_material})
            bookmark = document.getElementById(`bookmark_${id_material}`)
            bookmark.classList.toggle('favorite')
        }

        function click_like(id_material) {
            add_favorite({'like_id': id_material})
            like = document.getElementById(`like_${id_material}`)
            
            let isClassName = false
            for (let index = 0; index < like.classList.length; index++) {
                const element = like.classList[index];
                if (element === 'liked') {
                    isClassName = true
                    break
                }
            }
            if (isClassName) {
                like.lastChild.textContent = parseInt(like.lastChild.textContent) - 1
            } else {
                like.lastChild.textContent = parseInt(like.lastChild.textContent) + 1
            }
            like.classList.toggle('liked')
        }

        ////////////
        // update_db


        const searchMaterial = () => {
            const search = document.getElementById('search')
            renderMaterials({'words': search.value})
        }

        const resetFilter = function(idCategory=null) {
            const form = document.getElementById('form')
            const nodeListCheckboxs = form.querySelectorAll('input[type="checkbox"]')
            for (let index = 0; index < nodeListCheckboxs.length; index++) {
                let a = 1
                let chbox = nodeListCheckboxs[index]
                chbox.checked = false
            }
            if (idCategory) {
                document.getElementById(idCategory).checked = true
            }
        }

        const chooseCategory = function(page=1) {
            listCategory = []
            const form = document.getElementById('form')
            const nodeListCheckboxs = form.querySelectorAll('input[type="checkbox"]')
            for (let index = 0; index < nodeListCheckboxs.length; index++) {
                let chbox = nodeListCheckboxs[index];
                if (chbox.checked){
                    listCategory.push(chbox.id)
                }
            }
            if (listCategory.length === 0) {
                renderMaterials({}, page)
            } else {
                renderMaterials({'categories': listCategory}, page)
            }
        }

        const renderCategory = function() {
            let form = document.getElementById('form');
            let fetchResCategories = fetch(
                "/api/v1/categories/"
            );

            fetchResCategories.then(res =>
                res.json()).then(d => {
                    const categories = d['category']

                    let checkBoxsType = ''
                    let checkBoxsLessons = ''
                    for (let index = 0; index < categories.length; index++) {
                        const category = categories[index]
                        const id_category = category['id']
                        const name = category['name']
                        let long_name = category['long_name']
                        if (!long_name){
                            long_name = name
                        }
                        const type_category = category['type_category']

                        checkBoxs = `
                            <div class="fild">
                            <input type="checkbox" 
                                id="${name}" onclick="chooseCategory()">
                            <label 
                                for="${name}"
                                class="filter_text"
                            >${long_name}</label>
                            </div>
                        `
                        if (type_category === '---') {
                            checkBoxsType += checkBoxs
                        } else {
                            checkBoxsLessons += checkBoxs
                        }
                    }
                    form.innerHTML = checkBoxsType
                    form.innerHTML += '<hr>'
                    form.innerHTML += checkBoxsLessons
                })
        } 

        const renderMaterials = function(context={}, page=1) {
            let method = document.getElementById('method');
            method.innerHTML = ''
            let pagination = document.getElementById('pagination');
            pagination.innerHTML = ''

            url = '/api/v1/edumaterials/?'
            let copyContext = Object.assign({}, context)
            copyContext.page = page;
            const contextURL = new URLSearchParams(copyContext)
            let fetchRes = fetch(url + contextURL)
            
            
            fetchRes.then(res =>
                res.json()).then(d => {
                    const countPage = d['count_page']
                    const page = d['page']
 
                    // 1 ... 4 5 6 7 8 9>
                    // 1 ... 3 4 5 6 7 ... 9 >
                    if (countPage != 1) {
                        if (page !== 1 && page !== undefined) {
                        pagination.innerHTML += `<li><a href="#materials" onclick="chooseCategory(${page - 1});"><span uk-pagination-previous></span></a></li>`
                    }

                    let startIndex = 1
                    if (page - 2 > 2) {
                        startIndex = page - 2
                    }
                    if (startIndex != 1) {
                        pagination.innerHTML += '<li><a href="#materials" onclick="chooseCategory(1);">1</a></li>'
                        pagination.innerHTML += '<li class="uk-disabled"><span>...</span></li>'
                    }
                    let endIndex = countPage
                    if (page + 2 < countPage - 1) {
                        endIndex = page + 2
                    }
                    for (let index = startIndex; index <= endIndex; index++) {
                        if (page == index) {
                            pagination.innerHTML += `<li href="#materials" class="uk-active"><span>${index}</span></li>`
                            continue
                        }
                        pagination.innerHTML += `<li><a href="#materials" onclick="chooseCategory(${index});">${index}</a></li>`
                    }
                    if (endIndex != countPage) {
                        pagination.innerHTML += '<li class="uk-disabled"><span>...</span></li>'
                        pagination.innerHTML += `<li><a href="#materials" onclick="chooseCategory(${countPage});">${countPage}</a></li>`

                    }
                    if (page !== countPage) {
                        pagination.innerHTML += `<li><a href="#materials" onclick="chooseCategory(${page + 1});"><span uk-pagination-next></span></a></li>`
                    }
                    }
                    
                    const matirials = d['matirial']
                    if (!matirials.length) {
                        print('not fined')
                        let h2 = document.createElement('h2')
                        h2.textContent = 'нічого не знайдено :('
                        h2.classList = 'uk-text-center'
                        // method.innerHTML += "<h2></h2>"
                        method.appendChild(h2)
                    }
                    for (let index = 0; index < matirials.length; index++) {
                        const matirial = matirials[index]
                        const idMatirial = matirial['id']
                        const name = matirial['name']
                        const srcImg = matirial['img']
                        const description = matirial['description']
                        const like = matirial['like']
                        const linkDownload = matirial['link_download']
                        const source = matirial['source']
                        const color = matirial['color']
                        const countComments = matirial['count_comments']
                        const eduCategory = matirial['edu_сategory']
                        const isFavorite = matirial['is_favorite']
                        const isLiked = matirial['is_liked']

                        let batton_category = ''
                        for (let index = 0; index < eduCategory.length; index++) {
                            const edu_element = eduCategory[index];
                            batton_category += `
                                <a href="#materials">
                                    <button 
                                        onclick="renderMaterials({'categories': ['${edu_element}']});resetFilter('${edu_element}')"
                                        class="article_tag"
                                    >
                                        ${edu_element}
                                    </button>
                                </a>
                            `
                        }

                        let p_description = ''
                        for (let index = 0; index < description.length; index++) {
                            const element_description = description[index];
                            p_description += `
                                <p class="uk-text-justify">${element_description}</p>
                            `
                        }

                        let div_source = '<div class="clear">'
                        if (source) {
                            div_source += `<span class="like-comment"><a href="${source}" target="_blank">Джерело</a></span>`
                        }
                        if (linkDownload) {
                            div_source += `<span class="like-comment"><a href="${linkDownload}" target="_blank" uk-icon="cloud-download"></a></span>`
                        }

                        let classFavorite = ""
                        if (isFavorite) {
                            classFavorite = ' favorite'
                        }
                        let classLiked = ""
                        if (isLiked) {
                            classLiked = ' liked'
                        }
                        div_source += `
                            <span class="like-comment${classFavorite}" id="bookmark_${idMatirial}" uk-icon="bookmark" onclick=click_favorite(${idMatirial})></span>
                            <span class="like-comment"><a href="/methodical_material/${idMatirial}#comments" uk-icon="comments"></a><span> </span>${countComments}</span>
                            <span class="like-comment ${classLiked}" id="like_${idMatirial}" onclick=click_like(${idMatirial})><span uk-icon="heart"></span><span id="count_${idMatirial}"><span> </span>${like}</span></span>
                        `
                        div_source += '</div>'
                        
                        method.innerHTML += `
                            <article class="uk-article uk-animation-slide-left">
                                <div class="article_conteiner">
                                    <a href="${idMatirial}" target="_blank">
                                        <img class="article_img uk-align-left" src="${srcImg}" alt="">
                                    </a>
                                    <div class="article_content" style="border-color: #${color};">
                                        <a href="${idMatirial}"><h2 class="article_headline">${name}</h2></a>
                                        <div class="article_tags">
                                            ${batton_category}
                                        </div>
                                        ${p_description}
                                        ${div_source}
                                    </div>
                                </div>
                            </article>
                        `
                    }
                })
        }
        
        document.addEventListener('DOMContentLoaded', function(){
            renderCategory();
            renderMaterials();

        }, false);
    </script>


{% endblock %}
