{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<!--<link rel="stylesheet" href="{% static 'css/methodical_material.css' %}">-->
{% endblock %}

{% block content %}
<style>
.main{
    color: #666;
    padding: 20px;
    background: white;
}
.sidesection{
    color:#333;
    min-width: 300px;
}
.content{
    color:#666;
    padding: 20px 0;
    width: 100%;
}
@media only screen and (max-width: 850px) {
    .visibility{
        display: none;
    }
}
.details {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.favorite{
    color: yellowgreen;
}
.liked{
    color: red;
}
.like-comment{
    padding-left: 10px;
}
/* comments */
.comments{
    background-color: #413ADA;
    padding: 20px;
}
.uk-comment-avatar {
    border-radius: 100%;
    width: 70px;
    height: 70px;
}
article {
    border-top: 1px solid white;
    padding-top: 10px;
}
</style>

<main class="main uk-flex">
    <section class="content" id="content"></section>
    <section class="sidesection visibility" id="sidesection"></section>
</main>
<ul class="uk-comment-list comments" id="comments"></ul>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    const deltaTime = 300;

    const id_material = {{ pk }}

    const print = (s) => {
        console.log(s)
    }

    const onlySpace = (str) => {
        for (let index = 0; index < str.length; index++) {
            const ch = str[index];
            if (ch !== ' ') {
                return false
            }     
        }
        return true
    }
    
    const sleep = (ms) => {
        ms += new Date().getTime();
        while (new Date() < ms){}
    } 

    const isClassName = (obj, className) => {
            for (let index = 0; index < obj.classList.length; index++) {
                const element = obj.classList[index];
                if (className === element) {
                    return true
                }
            }
            return false
        }

    const update_comment_db = (method, url, data={}) => {
        let req = axios({
                method: method,
                url: url,
                xsrfCookieName: 'csrftoken',
                xsrfHeaderName: 'X-CSRFToken',
                data: data,
                headers: {
                    'X-CSRFToken': 'csrftoken'
                }
        }).then((response) => {
                const error = response.data['error']
                if (error === 'is_anonymous') {
                    window.location.href = '/accounts/login/'
                }
        });
            return;
        }

    const saveNewComent = (idComment) => {
        let textarea = document.getElementById('textarea_' + idComment)
        if (textarea.value === '') {
            textarea.placeholder = 'Поле не має бути пустим'
            return
        }
        if (onlySpace(textarea.value)) {
            textarea.value = ""
            textarea.placeholder = 'Коментар не повинен складатися лише з пробілів'
            return
        }
        if (textarea.value.length > 500) {
            alert('Занадто довгий коментар. Максимум 500 символів')
            return
        }
        // save in server post
        // render comment
        update_comment_db(
            'post',
            `/api/v1/edumaterials/${id_material}/comments/`,
            {"text": textarea.value}
        )
        sleep(deltaTime)
        renderComments()
    }
    const saveSubComment = (idComment) => {
        let textarea = document.getElementById('textarea_0' + idComment)
        if (textarea.value === '') {
            textarea.placeholder = 'Поле не має бути пустим'
            return
        }
        if (onlySpace(textarea.value)) {
            textarea.value = ""
            textarea.placeholder = 'Коментар не повинен складатися лише з пробілів'
            return
        }
        if (textarea.value.length > 500) {
            alert('Занадто довгий коментар. Максимум 500 символів')
            return
        }
        update_comment_db(
            'post',
            `/api/v1/edumaterials/${id_material}/comments/${idComment}`,
            {"text": textarea.value}
        )
        sleep(deltaTime)
        renderSubComments(idComment)

    }

    const addSubComment = (idComment) => {

        let obj = document.getElementById('wraper_comment_' + idComment)
        let ul = obj.lastElementChild

        tmp = ul.innerHTML
        if (ul.firstElementChild) {
            if (isClassName(ul.firstElementChild, 'write_comment')) {
                return
            }
        }
        

        ul.innerHTML = `
        <li class="write_comment">
            <article class="uk-comment uk-visible-toggle" tabindex="-1"></article>
            <form>
                <div class="uk-margin">
                    <p><textarea class="uk-textarea" rows="5" placeholder="Залиште свій коментар" id="textarea_0${idComment}"></textarea></p>
                    <div class="uk-flex uk-flex-right">
                        <a class="uk-link-muted" style="padding-right: 20px" onclick=saveSubComment(${idComment})>Зберегти</a>
                    </div>
                </div>
            </form>
            </article>
        </li>
        `
        
        ul.innerHTML += tmp
    }

    const editComment = (idComment, idSubComment=false) => {
        let path = idComment
        if (idSubComment) {
            path = idComment + '_' + idSubComment
        }

        let a = document.getElementById(path)
        let p = document.getElementById('comment_text_' + path)

        if (a.textContent === 'Зберегти') {
            const textarea = document.getElementById(`textarea_${path}`)
            
            if (textarea.value === '') {
                textarea.placeholder = 'Поле не має бути пустим'
                return
            }
            if (onlySpace(textarea.value)) {
                textarea.value = ""
                textarea.placeholder = 'Коментар не повинен складатися лише з пробілів'
                return
            }
            if (textarea.value.length > 500) {
                alert('Занадто довгий коментар. Максимум 500 символів')
                return
            }
            if (idSubComment) {
                update_comment_db(
                    'put',
                    `/api/v1/edumaterials/${id_material}/comments/${idComment}/${idSubComment}`,
                    {"text": textarea.value}
                )
            } else {
                update_comment_db(
                    'put',
                    `/api/v1/edumaterials/${id_material}/comments/${idComment}`,
                    {"text": textarea.value}
                )
            }
        
            a.textContent = 'Редагувати'
            p.innerHTML = textarea.value

            return
        }
        a.textContent = 'Зберегти'
        p.innerHTML = `<textarea class="uk-textarea" rows="5" id="textarea_${path}">${p.textContent}</textarea>`
    }

    const deleteComment = (idComment, idSubComment=false) => {
        let path = idComment
        if (idSubComment) {
            path = idComment + '_' + idSubComment
        }

        let obj = document.getElementById('wraper_comment_' + path)
        if (confirm('Ви дійсно бажаєте видалити цей коментар?')) {
            if (idSubComment) {
                update_comment_db(
                    'delete',
                    `/api/v1/edumaterials/0/comments/${idComment}/${idSubComment}`
                )
            } else {
                update_comment_db(
                    'delete',
                    `/api/v1/edumaterials/0/comments/${idComment}`
                )
            }
            obj.innerHTML = ''
        }
    }

    const renderSubComments = (idComment) => {
        let ul = document.getElementById('sub_comments_' + idComment)
        ul.innerHTML = ''


        fetchRes = fetch(`/api/v1/edumaterials/${id_material}/comments/${idComment}`);
        fetchRes.then(res =>
            res.json()).then(d => {
                subComments = d["sub_comments"]
                for (let index = 0; index < subComments.length; index++) {
                    const subElement = subComments[index];

                    const subData = subElement["date"]
                    const subFullName = subElement["full_name"]
                    const idSubComment = subElement["id_sub_comments"]
                    const mySubComment = subElement["my_comment"]
                    const subText = subElement["text"]
                    const subUrlImg = subElement["url_img"]
                        
                    let buttonsEditDel = ''
                    if (mySubComment) {
                        buttonsEditDel = `
                                <div class="uk-flex uk-flex-right">
                                    <a class="uk-link-muted" style="padding-right: 20px" id="${idComment}_${idSubComment}" onclick="editComment(${idComment}, ${idSubComment});">Редагувати</a>
                                    <a class="uk-link-muted" style="padding-right: 20px" onclick="deleteComment(${idComment}, ${idSubComment});">Видалити</a>
                                </div>
                            `
                    }

                    ul.innerHTML += `
                            <li id="wraper_comment_${idComment}_${idSubComment}">
                                <article class="uk-comment uk-visible-toggle" tabindex="-1">
                                    <header class="uk-comment-header uk-position-relative">
                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-comment-avatar" src="${subUrlImg}" width="80" height="80" alt="">
                                            </div>
                                            <div class="uk-width-expand">
                                                <h4 class="uk-comment-title uk-margin-remove">${subFullName}</h4>
                                                <p class="uk-comment-meta uk-margin-remove-top">${subData}</p>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p id="comment_text_${idComment}_${idSubComment}">${subText}</p>
                                    </div>
                                    ${buttonsEditDel}
                                </article>
                            </li>
                        `
                    }
            })
    }

    const renderComments = () => {
        let comments = document.getElementById('comments')

        comments.innerHTML = `
        <li>
            <article class="uk-comment uk-visible-toggle" tabindex="-1"></article>
            <form>
                <div class="uk-margin">
                    <p><textarea class="uk-textarea" rows="5" placeholder="Залиште свій коментар" id="textarea_0"></textarea></p>
                    <div class="uk-flex uk-flex-right">
                        <a class="uk-link-muted" style="padding-right: 20px" onclick=saveNewComent("0")>Зберегти</a>
                    </div>
                </div>
            </form>
            </article>
        </li>
        `

        fetchRes = fetch(`/api/v1/edumaterials/${id_material}/comments/`);
        fetchRes.then(res =>
            res.json()).then(d => {
                const commentsData = d['comments']
                for (let index = 0; index < commentsData.length; index++) {
                    const element = commentsData[index];
                    const idComment = element["id_comments"]
                    const fullName = element["full_name"]
                    const date = element["date"]
                    const myComment = element["my_comment"]
                    const text = element["text"]
                    const urlImg = element["url_img"]
                    const subComments = element["sub_comments"]

                    contentSubComments = ''

                    for (let index = 0; index < subComments.length; index++) {
                        const subElement = subComments[index];
                        const subData = subElement["date"]
                        const subFullName = subElement["full_name"]
                        const idSubComments = subElement["id_sub_comments"]
                        const mySubComment = subElement["my_comment"]
                        const subText = subElement["text"]
                        const subUrlImg = subElement["url_img"]
                        
                        let buttonsEditDel = ''
                        if (mySubComment) {
                            buttonsEditDel = `
                                <div class="uk-flex uk-flex-right">
                                    <a class="uk-link-muted" style="padding-right: 20px" id="${idComment}_${idSubComments}" onclick="editComment(${idComment}, ${idSubComments});">Редагувати</a>
                                    <a class="uk-link-muted" style="padding-right: 20px" onclick="deleteComment(${idComment}, ${idSubComments});">Видалити</a>
                                </div>
                            `
                        }

                        contentSubComments += `
                            <li id="wraper_comment_${idComment}_${idSubComments}">
                                <article class="uk-comment uk-visible-toggle" tabindex="-1">
                                    <header class="uk-comment-header uk-position-relative">
                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-comment-avatar" src="${subUrlImg}" width="80" height="80" alt="">
                                            </div>
                                            <div class="uk-width-expand">
                                                <h4 class="uk-comment-title uk-margin-remove">${subFullName}</h4>
                                                <p class="uk-comment-meta uk-margin-remove-top">${date}</p>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p id="comment_text_${idComment}_${idSubComments}">${subText}</p>
                                    </div>
                                    ${buttonsEditDel}
                                </article>
                            </li>
                        `
                    }
                    
                    let buttonsEditDel = ''
                    if (myComment) {
                        buttonsEditDel = `
                            <div class="uk-flex uk-flex-right">
                                <a class="uk-link-muted" style="padding-right: 20px" id="${idComment}" onclick=editComment(${idComment})>Редагувати</a>
                                <a class="uk-link-muted" style="padding-right: 20px" onclick=deleteComment(${idComment})>Видалити</a>
                            </div>
                        `
                    }
                    comments.innerHTML += `
                        <li id="wraper_comment_${idComment}">
                            <article class="uk-comment uk-visible-toggle" tabindex="-1">
                                <header class="uk-comment-header uk-position-relative">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <img class="uk-comment-avatar" src="${urlImg}" width="80" height="80" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-comment-title uk-margin-remove">${fullName}</h4>
                                            <p class="uk-comment-meta uk-margin-remove-top">${date}</p>
                                        </div>
                                        <div class="uk-position-top-right uk-position-small">
                                            <a class="uk-link-muted" onclick=addSubComment(${idComment})>Відповісти</a>
                                        </div>
                                    </div>
                                </header>
                                
                                <div class="uk-comment-body">
                                    <p id="comment_text_${idComment}">${text}</p>
                                </div>
                                ${buttonsEditDel}
                            </article>
                            <ul id="sub_comments_${idComment}">
                                ${contentSubComments}
                            </ul>
                        </li>
                    `

                }
            })
    }

    function click_favorite(id_material) {
        add_favorite({'favorite_id': id_material})
        bookmark = document.getElementById(`bookmark_${id_material}`)
        bookmark.classList.toggle('favorite')
    }

    function click_like(id_material) {
        add_favorite({'like_id': id_material})
        like = document.getElementById(`like_${id_material}`)
        
        let isClassName = false
        for (let index = 0; index < like.classList.length; index++) {
            const element = like.classList[index];
            if (element === 'liked') {
                isClassName = true
                break
            }
        }
        if (isClassName) {
            like.lastChild.textContent = parseInt(like.lastChild.textContent) - 1
        } else {
            like.lastChild.textContent = parseInt(like.lastChild.textContent) + 1
        }
        like.classList.toggle('liked')
    }


    //////////
    // edit_msg
    // axios.defaults.xsrfCookieName = 'csrftoken';
    // axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    
    function update_db(url) {
        return function(data) {
            let req = axios({
            method: 'put',
            url: url,
            xsrfCookieName: 'csrftoken',
            xsrfHeaderName: 'X-CSRFToken',
            data: data,
            headers: {
                'X-CSRFToken': 'csrftoken'
            }
        }).then((response) => {
            const error = response.data['error']
            if (error === 'is_anonymous') {
                window.location.href = '/accounts/login/'
            }
        });
        return;
        }
    }

    add_favorite = update_db('/api/v1/user/')
    // add_favorite({'favorite_id': 1377})

    ////////////////
    // renderContent
    const renderContent = () => {
        let content = document.getElementById('content')
        let sidesection = document.getElementById('sidesection')

        fetchRes = fetch('/api/v1/edumaterials/' + id_material);
        fetchRes.then(res =>
            res.json()).then(d => {
                const name = d['name']
                const date_create = d['date_create']
                const description = d['description']
                const detailed_description = d['detailed_description']
                const img = d['img']
                const like = d['like']
                const link_download = d['link_download']
                const source = d['source']

                const color = d['color']
                const countComments = d['count_comments']
                const edu_сategory = d['edu_сategory']
                const isFavorite = d['is_favorite']
                const isLiked = d['is_liked']
                const id_matirial = d['id']

                let batton_category = ''
                for (let index = 0; index < edu_сategory.length; index++) {
                    const edu_element = edu_сategory[index];
                    batton_category += `<i>${edu_element}</i> |`
                }

                let p_description = ''
                for (let index = 0; index < description.length; index++) {
                    const element_description = description[index];
                    p_description += `
                    <p class="uk-text-justify">${element_description}</p>
                `
                }

                let div_source = '<div class="clear">'
                if (source) {
                    div_source += `<span class="like-comment"><a href="${source}" target="_blank">Джерело</a></span>`
                }
                if (link_download) {
                    div_source += `<span class="like-comment"><a href="${link_download}" target="_blank" uk-icon="cloud-download"></a></span>`
                }

                let classFavorite = ""
                if (isFavorite) {
                    classFavorite = ' favorite'
                }
                let classLiked = ""
                if (isLiked) {
                    classLiked = ' liked'
                }
                div_source += `
                    <span class="like-comment${classFavorite}" id="bookmark_${id_matirial}" uk-icon="bookmark" onclick=click_favorite(${id_matirial})></span>
                    <span class="like-comment"><a href="#comments" uk-icon="comments"></a><span> </span>${countComments}</span>
                    <span class="like-comment ${classLiked}" id="like_${id_matirial}" onclick=click_like(${id_matirial})><span uk-icon="heart"></span><span id="count_${id_matirial}">${like}</span></span>
                `
                div_source += '</div>'

                div_description = ''
                
                if (detailed_description === '') {
                    for (let index = 0; index < description.length; index++) {
                        const element = description[index];
                        div_description += `<p>${element}</p>`
                    }
                } else {
                    div_description = detailed_description
                }
                content.innerHTML = `
                    <h1 style="border-left: 5px solid #${color}";">${name}</h1>
                    <div class="details">${batton_category}</div>
                    <div class="details">${div_source}</div>
                    <div>${div_description}</div>
                `
                sidesection.innerHTML = `
                    <img src="${img}" alt="">
                `
            })
    }
    // end renderContent
    ////////////////

document.addEventListener('DOMContentLoaded', function(){
        renderContent()
        renderComments()

    }, false);
</script>

{% endblock %}

