{% extends 'app/auth/base_auth.html' %}
{% block form %}
    <form class="form" action="" method="POST">
        <div>
            {% csrf_token %}
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    {{ form.username }}
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    {{ form.password }}
                </div>
            </div>
            <button type="submit" class="uk-button uk-button-default">Увійти</button>
            {% if message %}
                <div class="uk-alert-primary" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                </div>
            {% endif %}
            <p>якщо не маєте акаунт, натисніть <a href="{% url 'register' %}">зареєструватись</a></p>
            <p>перейти на <a href="{% url 'index' %}">головну</a> сторінку</p>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>

        </div>
    </form>
    <script>
        let username = document.getElementById('id_username')
        let password = document.getElementById('id_password')

        username.classList.add('uk-input')
        password.classList.add('uk-input')
    </script>
{% endblock %}
