{% extends 'app/auth/base_auth.html' %}
{% block form %}
    <!--Register-->
    <form class="form" action="" method="POST">
        <div>
            {% csrf_token %}
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    {{ register_form.username }}
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon " uk-icon="icon: mail"></span>
                    {{ register_form.email }}
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon " uk-icon="icon: lock"></span>
                    {{ register_form.pw1 }}
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    {{ register_form.pw2 }}
                </div>
            </div>

            <button type="submit" class="uk-button uk-button-default">Зареєструватися</button>

            {% if message %}
                <div class="uk-alert-primary" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                </div>
            {% endif %}

            <p>якщо ви вже маєте акаунт, натисніть <a href="{% url 'login' %}">увійти</a></p>
            <p>перейти на <a href="{% url 'index' %}">головну</a> сторінку</p>
        </div>
    </form>
    <script>
        let username = document.getElementById('id_username')
        let mail = document.getElementById('id_email')
        let pw1 = document.getElementById('id_password1')
        let pw2 = document.getElementById('id_password2')

        username.classList.add('uk-input')
        mail.classList.add('uk-input')
        pw1.classList.add('uk-input')
        pw2.classList.add('uk-input')
    </script>
{% endblock %}


