{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <link rel="stylesheet" href="{% static 'css/academ.css' %}">
    <title>STEAM Center</title>
</head>
<body id="body">
{% include "menu.html" %}

<div class="wraper">
    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
</div>

<script defer src="{% static 'json/menu.json' %}"></script>

<script defer src="{% static 'js/uikit.js' %}"></script>
<script defer src="{% static 'js/uikit-icons.js' %}"></script>

<script defer src="{% static 'js/main.js' %}"></script>

</body>
</html>
